<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Donate</title>
        <meta property="og:title" content="Donate">
        {% include 'head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        {% include 'header.html' %}
        <header>
            <div class="container py-5 px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <h2 class="text-gradient fw-bolder">Donate</h2>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <div class="col-xxl-3 card">
                            <div class="card-header">
                                <h5 class="card-title text-primary"><i class="bi bi-paypal text-gradient"> </i><a class="link-light" href="https://kiwiapi.aallyn.xyz/v1/misc/paypal">Paypal</a></h5>
                            </div>
                            <div class="card-header">
                                <h5 class="card-title text-primary"><img width="20" height="20" src="https://kiwiapi.aallyn.xyz/v1/misc/assets/icons/brands/kofi-mark.png" class=" text-gradient"> <a class="link-light" href="https://kiwiapi.aallyn.xyz/v1/misc/paypal">Kofi</a></h5>
                            </div>
                            <div class="card-header">
                                <h5 class="card-title text-primary"><img width="20" height="20" src="https://kiwiapi.aallyn.xyz/v1/misc/assets/icons/brands/bmc.png" class=" text-gradient"> <a class="link-light" href="https://kiwiapi.aallyn.xyz/v1/misc/paypal">Buy me a coffee</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% include 'footer.html' %}
    </body>
</html>
