<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Privacy Policy</title>
        <meta property="og:title" content="Privacy Policy">
        {% include 'head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        {% include 'header.html' %}
        <header>
            <div class="container px-5 pb-5 mt-xxl-5">
                <div class="row gx-5 align-items-center">
                    <h2 class="text-gradient fw-bolder">Privacy Policy for Renewed Trove Tools</h2>
                    <div class="py-4">
                        <h5 class="text-gradient mt-xxl-3">Effective Date: 2024/05/31</h5>
                        <p class="text-primary">
                            We value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we handle your data and what data we collect when you use our app.
                        </p>
                        <h5 class="text-gradient">
                            1. Data Collection
                        </h5>
                        <p class="text-primary">
                            We do not track or collect any data that identifies your machine or browser. The only data we keep is an identifying piece of data provided by Discord or Trovesaurus when you sign up or log in using their services. This data collection is entirely consensual, and you have the choice to provide it by signing up or logging in.
                        </p>
                        <h5 class="text-gradient">
                            2. Types of Data Collected
                        </h5>
                        <p class="text-primary">
                            Identifying Data from Discord or Trovesaurus: When you sign up or log in using Discord or Trovesaurus, we receive an identifying piece of data from these services. This data is used solely to manage your account within Renewed Trove Tools.
                        </p>
                        <h5 class="text-gradient">
                            3. Use of Data
                        </h5>
                        <p class="text-primary">
                            The data we collect is used to:
                            <ul>
                                <li class="text-primary">Identify you through Discord or Trovesaurus to create an Renewed Trove Tools account.</li>
                                <li class="text-primary">Error reports to improve the app.</li>
                                <li class="text-primary">Enable future features such as cloud mod saving.</li>
                            </ul>
                        </p>
                        <h5 class="text-gradient">
                            4. Data Deletion
                        </h5>
                        <p class="text-primary">
                            If required, we may delete the data associated with your account. You can request the deletion of your data at any time by contacting us. Once your data is deleted, it cannot be recovered.
                        </p>
                        <h5 class="text-gradient">
                            5. Mod Profiles Data
                        </h5>
                        <p class="text-primary">
                            In the future, we plan to introduce a feature for cloud mod saving. The only data stored in this context will be related to your mod profiles, ensuring that your settings and preferences are saved for convenience.
                        </p>
                        <h5 class="text-gradient">
                            6. Consent
                        </h5>
                        <p class="text-primary">
                            By logging in with Discord or Trovesaurus on our application, you consent to the collection and use of your identifying data as described in this Privacy Policy.
                        </p>
                        <h5 class="text-gradient">
                            7. Changes to this Privacy Policy
                        </h5>
                        <p class="text-primary">
                            We may update this Privacy Policy from time to time. Any changes will be posted on this page, and we will notify you of any significant changes by updating the effective date at the top of this policy.
                        </p>
                        <div class="mt-xxl-5">
                            <h5 class="text-gradient">Contact Us</h5>
                            <p class="text-primary">If you have any questions or concerns about this Privacy Policy, please contact us on our <i class="bi bi-discord"></i> <a class="link-success" href="https://kiwiapi.aallyn.xyz/v1/misc/support" target="_blank">Discord Support Server</a>.</p>
                        </div>    
                    </div>
                </div>
            </div>
        </header>
        {% include 'footer.html' %}
    </body>
</html>
